@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css);
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background-color: rgb(28, 44, 66);
  font-family: "Open Sans", arial, sans-serif;
  color: darkslategray;
  text-transform: capitalize;
  /* background:linear-gradient(#141e30, #243b55); */
}

body.login {
  background-color: white;
  max-width: 500px;
  margin: 10vh auto;
  padding: 1em;
  height: auto;
}


/* header */
header[role="banner"] {
  /* background: white; */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
  position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 99;
height: 75px;
background-color: rgb(11, 17, 27);
}
header[role="banner"] h1 {
  margin: 0;
  font-weight: 300;
  padding: 1rem;
}
header[role="banner"] .fa {
 
  padding-right: 0.6em;
  color: red;
} 

header[role="banner"] .utilities {
  width: 100%;
  background: slategray;
  color: #ddd;
}
header[role="banner"] .utilities li {
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}
header[role="banner"] .utilities li a {
  padding: 0.7em;
  display: block;
  text-decoration: none;
  color: inherit;
}

.serach{
    position: absolute;
    margin-left: 450px;
    margin-top: -60px;
    width: 450px;
    height: 30px;
    border-radius: 5px;
    color: black;
    }

/* header */
.utilities a:before {
  content: "\f248";
  font-family: FontAwesome;
  padding-right: 0.6em;
}

.logout a:before {
  content: "";

}



nav[role="navigation"] {
  background: #2a3542;
  color: #ddd;
  /* icons */
}
nav[role="navigation"] li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}
nav[role="navigation"] li a {
  color: #ddd;
  text-decoration: none;
  display: block;
  padding: 0.7em;
 
  color:#a69538;
}

nav[role="navigation"] li a .fa{
 
  color: #ff1a1a;
 
}


nav[role="navigation"] li a:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
nav i{
    margin-right:10px ;
}
/*nav[role="navigation"] li a:before {
  content: "\f248";
  font-family: FontAwesome;
  padding-right: 0.6em;
}
 nav[role="navigation"] .dashboard a:before {
  content: "";
}
/*
nav[role="navigation"] .write a:before {
  content: "";
}
nav[role="navigation"] .edit a:before {
  content: "";
}
nav[role="navigation"] .comments a:before {
  content: "";
}
nav[role="navigation"] .users a:before {
  content: "";
} */

/* current nav item */
.current, .dashboard .dashboard a,
.write .write a,
.edit .edit a,
.comments .comments a,
.users .users a {
  background-color: rgba(255, 255, 255, 0.1);
}




/* typography */
.lang_ul a {
  text-decoration: none;
  color: inherit;
}

h2,
h3,
h4 {
  font-weight: 300;
  margin: 0;
}

h2 {
  color:#a69538;

}

b {
  color: lightsalmon;
}

.hint {
  color: lightslategray;
}

/* lists */
.main{
    padding: 0;
}
ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

main li {
  position: relative;
  padding-left: 1.2em;
  margin: 0.5em 0;
}
main li:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  top: 0.3em;
  border-left: solid 10px #dde;
  border-top: solid 5px transparent;
  border-bottom: solid 5px transparent;
}
.lang_ul{
  list-style-type: none;
  position: absolute;
  margin-left: 350px;
  margin-top: -65px;
}


.lang_ul li{
  padding-bottom: 5px;
}
/*container*/
.container .stat{
  margin-left: 140px;
  margin-top: 145px;
  width: 1100px;
}
/* forms */
 form input,
form textarea,
form select {
  width: 100%;
  display: block;
  border: solid 1px #dde;
  padding: 0.5em;
  color:#a69538;
  ;
}
form input:after,
form textarea:after,
form select:after {
  content: "";
  display: table;
  clear: both;
}
form input[type="checkbox"] {
  display: inline;
  width: auto;
}
form label,
form legend {
  display: block;
  margin: 1em 0 0.5em;
}
form button,input[type='submit']{
  background: #ff1a1a;
  border: none;
  border-bottom: solid 4px #e60000;
  padding: 0.7em 3em;
  margin: 1em 0;
  color: white;
  text-shadow: 0 -1px 0 #e60000;
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  width: auto;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  border-radius: 0.5em;
}
form button:hover ,input[type='submit']:hover {
  background: turquoise;
  border: none;
  border-bottom: solid 4px #21ccbb;
  padding: 0.7em 3em;
  margin: 1em 0;
  color: white;
  text-shadow: 0 -1px 0 #21ccbb;
  font-size: 1.1em;
  font-weight: bold;
  display: inline-block;
  width: auto;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  border-radius: 0.5em;
}
.Add_success_msg{
  display: none;
margin-left: 200px;
margin-top: 63px;
}
.Gamedel{
  display: none;
  margin-left:100px;
  margin-top: 140px;
  width: 500px;
}
.delmsg{
  display: none;
  margin-left:200px;
  margin-top: 200px;
  width: 600px;
}

@media screen and (min-width: 600px) {
  html,
  body {
    height: 100%;
  }

  header[role="banner"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    height: 75px;
  }
  header[role="banner"] .utilities {
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    color: darkslategray;
    width: auto;
  }
  header[role="banner"] .utilities li {
    display: inline-block;
  }
  header[role="banner"] .utilities li a {
    padding: 0.5em 1em;
  }

  nav[role="navigation"] {
    position: fixed;
    width: 200px;
    top: 75px;
    bottom: 0px;
    left: 0px;
    background-color: rgb(11, 17, 27);
    color:#ff1a1a;
  }

  main[role="main"] {
    margin: 75px 0 40px 200px;
    background: linear-gradient(#141e30, #243b55);
  }
  main[role="main"]:after {
    content: "";
    display: table;
    clear: both;
  }

  .panel {
    margin: 2% 0 0 2%;
    float: left;
    width: 96%;
  }
  .panel:after {
    content: "";
    display: table;
    clear: both;
  }

  .box, .onethird, .twothirds {
    padding: 1rem;
  }

  .onethird {
    width: 33.333%;
    float: left;
  }

  .twothirds {
    width: 66%;
    float: left;
  }

  footer[role="contentinfo"] {
    clear: both;
    margin-left: 200px;
  }
}
@media screen and (min-width: 900px) {
  footer[role="contentinfo"] {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0px;
    margin: 0;
  }

  .panel {
    width: 47%;
    clear: none;
  }
  .panel.important {
    width: 96%;
    background-color: rgb(11, 17, 27);
  }
  .panel.secondary {
    width: 23%;
  }

  /* main_interface */
.games{
    width: 83%;
margin-left: 10%;
margin-top: 100px;

}
.games-carousel {
  max-width: 100%;
  display: grid;
  height: auto;
  grid-template-columns: 210px 210px 210px 210px 210px;
    grid-gap: 15px 10px;
  
  }

  .games-carousel .game .game-cover {
    transition: transform 0.1s ease;
  }

  .games-carousel .game .game-cover:hover {
    transform: translate(5px, -5px);
    cursor: pointer;
  }
  .games-carousel .game .game-cover img {
    height: 100%;
    width: 100%;
  }

  .games-carousel .game .game-cover:hover img {
    box-shadow: -5px 5px #a970ff;
  }

  .games-carousel .game .game-info .game-title ,.game-viewership {
    
      font-size: 16px;
  margin-left: 32px;
  margin-bottom: 5px;
  color: rgb(163, 163, 163);
  max-width: 150px;
  max-height: 30px;
  }

  .games-carousel .game .game-info .game-viewership{
    margin-bottom: 5px;
  }

  .games-carousel .game .game-info .game-title{
    margin-top: 30px;
    font-size: 20px;
    overflow: scroll;
    
  }


  .game-categories span {
    background-image: linear-gradient(45deg, #6441a4, #a970ff);
    padding: 2px 0.8rem;
    color: white;
    border-radius: 100px;
    font-size: 12px;
    font-weight: 600;
    margin-left: 60px;
    margin-top: 2px;
  }


  /* Games Photo 2 Faces */
  .TowFaceImage{
    width: 200px;
margin-left: 2px;
transform-style: preserve-3d;
}

.box{
    position: relative;
    width: 200px;
    height: 200px;
 transform-style: preserve-3d;
 transition: transform 1s;

}
.box:hover{
    transform: rotateY(-180deg);

}
.box .face{
    width: 100%;
    height: 120%;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    margin-bottom: -26px;
    margin-top: -25px;
    margin-left: -20px;
}



.box .front{
    background-color: rgb(33, 150, 243);


}

.box .back{

    transform: rotateY(180deg);

}
.alert-success{
    width: 50%;
    margin-left: 410px;
}

.gamesnum{
background: #d35400;
width: 300px;
text-align: center;
height: 100px;
color: white;
margin-left: 200px;
}
.gamesnum span{
  margin-top: 30px;
  position: absolute;
  margin-left: -80px;
  font-size: 30px;
}

 .stat .users{
  background: #c0392b;
  width: 300px;
text-align: center;
height: 100px;
margin-left: 50px;
color: white;

}
.stat a{
  text-decoration: none;
  color: white;
}
.users span{
  margin-top: 30px;
  position: absolute;
  margin-left: -75px;
  font-size: 30px;
}

.stat .visiters_per_Day{
  background: #3498db;
  width: 200px;
text-align: center;
height: 100px;
margin-left: 50px;
color: white;

}
.visiters_per_Day span{
  margin-top: 30px;
  position: absolute;
  margin-left: -100px;
  font-size: 30px;
}

.stat .visiters_per_Year{
  background: #8e44ad;
  width: 200px;
text-align: center;
height: 100px;
margin-left: 50px;
color: white;
}

.visiters_per_Year span{
  margin-top: 30px;
  position: absolute;
  margin-left: -120px;
  font-size: 30px;
}


.headerforusers{
  margin-left: -25px;
  margin-top: 20px;
  scroll-behavior: auto;
  width: 453px;
  height: 30px;
  background-color: #141e30;
  }

.forusers{

  margin-left: -25px;
  margin-top: 0px;
  background-color: rgb(28, 37, 49);
  color:#a69538;

  height: 100px;
  scroll-behavior: auto;
  width: 453px;
overflow: scroll;

}

.HeadersForGames{
  margin-top: 20px;
  margin-left: 207px;
  font-size: 20px;
  background-color: #141e30;
  width: 453px;
}

.BodyForGames
{
  margin-left: 207px;
margin-top: -15px;
background-color: rgb(28, 37, 49);
color:#a69538;

height: 100px;
width: 453px;
overflow: scroll;
}

.BodyForGames .delcomment{
  margin-left: 180px;
margin-top: -45px;
}

table{
        margin-top: 100px;
        margin-left: 79px;
}

table tr:first-child{
  color:#a69538;

text-align: center;

}

table tr td{
    color: White;
    text-align: center;
}


}
